/* font import links from google  */

@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* marin body css  */

/* glabal css start from here  */

body {
  font-family: "Red Hat Display", sans-serif;
  font-size: 16px;
  background-image: url(/images/pattern-background-desktop.svg);
  background-size: cover;
  background-position: center;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

h3 {
  font-family: var(--Primary-font);
  line-height: 1;
}

p {
  font-family: var(--Primary-font);
  line-height: 1.4;
}
:root {
  /* primary colors  */

  --primary-pale-blue: hsl(225, 100%, 94%);
  --bright-blue: hsl(245, 75%, 52%);

  /* neutral color  */

  --very-pale-blue: hsl(225, 100%, 98%);
  --desaturated-blue: hsl(224, 23%, 55%);
  --dark-blue: hsl(233, 47%, 23%);
  --white: #fff;

  /* typography */

  --Primary-font: "Red Hat Display", sans-serif;
}

/* Design CSS start from here  */

.d-flex {
  display: flex;
  flex-direction: column;
}



.container {
  max-width: 650px;

  width: 34%;
  border-radius: 14px;
}

/* This is main image container  */

.main-card {
  background-color: var(--white);
  width: 100%;
  position: relative;
  padding-top: 50%;
  border-radius: 12px 12px 0 0;
}

.img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-image: url(/images/illustration-hero.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  border-radius: 12px 12px 0 0;
}

.content {
  background-color: var(--white);
  padding: 2rem 2rem;
  border-radius: 0 0 12px 12px;
  display: flex;
  gap: 2rem;
  flex-direction: column;
}

.content .order-summary {
  text-align: center;
}



.plan{

  background-color: var(--very-pale-blue);
border-radius: 8px;
padding: 1rem 1rem;

}

.plan{

  display: flex;
}

.plan .price{

  display: flex;
  flex-grow: 1;
}

.plan .price h4{

  font-size: 16px;

}

.plan .price p{

  font-size: 14px;
}

.plan-details{

  align-content: center;
  margin-left: 0.7rem;
}

.selection{

  align-content: center;
}


.buttons-section{
  display: flex;
  flex-direction: column;
}

.btn{

  padding: 1rem;
  border: none;
  background-color: transparent;
}

.btn-1{

  background-color: var(--bright-blue);
  font-weight: 600;
  border-radius: 8px;
  color: var(--white);
}