/* font import links from google  */

@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* marin body css  */

/* glabal css start from here  */

body {
  font-family: "Red Hat Display", sans-serif;
  font-size: 16px;
  background-image: url(/images/pattern-background-desktop.svg);
  background-size: cover;
  background-position: center;
  height:100vh;
 
  display: flex;
  justify-content: center;
  align-items: center;
}
:root {
  /* primary colors  */

  --primary-pale-blue: hsl(225, 100%, 94%);
  --bright-blue: hsl(245, 75%, 52%);

  /* neutral color  */

  --very-pale-blue: hsl(225, 100%, 98%);
  --desaturated-blue: hsl(224, 23%, 55%);
  --dark-blue: hsl(233, 47%, 23%);
  --white : #fff;

  /* typography */

  --Primary-font: "Red Hat Display", sans-serif;
}



/* Design CSS start from here  */

.d-flex{
  display: flex;
  flex-direction: column;
}


.main-card{

  background-color: var(--white);
  max-width: 550px;
  width: 25%;
  border-radius: 4px;
  position: relative;;
  padding-top: 12%;
  
}



.img{

  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-image: url(/images/illustration-hero.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  
}